# .mypy_cache/: https://mypy.readthedocs.io/en/stable/config_file.html#confval-cache_dir
# .ruff_cache/: https://docs.astral.sh/ruff/settings/#cache-dir

__pycache__/
.mypy_cache/
.ruff_cache/
.venv/
dist/

.DS_Store

repos.json
