.DS_Store
.ruff_cache/
__pycache__/
.hatch/

# https://hatch.pypa.io/latest/config/build/#output-directory
dist/

# https://github.com/python/mypy/blob/v1.8.0/docs/source/config_file.rst#incremental-mode
.mypy_cache/
