# .ruff_cache/: https://docs.astral.sh/ruff/settings/#cache-dir
# dist/: https://hatch.pypa.io/latest/config/build/#output-directory
# .mypy_cache/: https://github.com/python/mypy/blob/v1.12.0/docs/source/config_file.rst#incremental-mode

__pycache__/
.hatch/
.mypy_cache/
.ruff_cache/
dist/

.DS_Store

repos.json
